In [23]:
from os import getenv

from dotenv import load_dotenv
from sqlalchemy import create_engine
import pandas as pd

load_dotenv()

database_url = getenv('DATABASE_URL')

sql = """
SELECT
    *

FROM funcionarios_funcionario as funcionario
INNER JOIN funcionarios_elemento as elemento ON (funcionario.elemento_ptr_id = elemento.id)
ORDER BY elemento.nome ASC
"""
# 'elemento_ptr_id', 'cargo_id', 'classe_id', 'dataAtualizacaoClasse',
# 'dataDaContagem', 'dataDeClasse', 'dataDeCarreira',
# 'dataDeServicoPublico', 'dataUltimaAtualizacaoClasse', 'rg', 'novoCPF',
# 'estadocivil', 'nacionalidade', 'dataNascimento', 'pai', 'mae',
# 'tituloEleitor', 'tituloEleitorZona', 'tituloEleitorSecao',
# 'certificadoMilitar', 'tipoSanguineo', 'cnh', 'cnhCategoria',
# 'grauInstrucao', 'uf', 'sexo', 'condicao', 'posicaoPromocao',
# 'totalPromocao', 'doe', 'departamento_id', 'designacao_id',
# 'exercicio_id', 'setor_id', 'designacaoFrequencia',
# 'exercicioFrequencia', 'titulo', 'complemento', 'foto', 'conferido',
# 'inconsistente', 'ausente', 'chefe', 'areaExercicio_id', 'distancia',
# 'restricao', 'despachoRestricao', 'situacao_id', 'fichaImpressa', 'cpf',
# 'alerta', 'rs', 'naturalidade', 'idade', 'posicaoGPI', 'totalGPI',
# 'genero_id', 'email', 'tag', 'id', 'nome'

engine = create_engine(database_url)

employees_df = pd.read_sql_query(sql, engine)

employees_df.head()

df = employees_df[['nome', 'rg', 'novoCPF', 'dataNascimento', 'idade']]

df.head()

,nome,rg,novoCPF,dataNascimento,idade
0,ABDALA RAIMUNDO FONSECA,8996124,,None,NaN
1,ABDON ROGERIO BATISTA DOS SANTOS,1162981,10069353808,1967-04-28,55.0
2,ABEL AMADEU FERREIRA ARAUJO,9906026,00649419812,1959-04-06,63.0
3,ABELARDO ALVES GOMES,24265894,15807267800,1974-08-07,48.0
4,ABELARDO VIEIRA DA SILVA,9337931,90141008849,1955-05-05,67.0